@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(250, 250, 250);
}

.btn-hover {
    background: #212529;
    color: aliceblue;
    font-weight: bolder;
    position: relative;
    overflow: hidden;
}

.btn-hover::before {
    content: "Thanks!";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 100%;
    transition: all 200ms cubic-bezier(.21,.67,.47,1.11);
    -webkit-transition: all 200ms cubic-bezier(.21,.67,.47,1.11);
    -moz-transition: all 200ms cubic-bezier(.21,.67,.47,1.11);
    -ms-transition: all 200ms cubic-bezier(.21,.67,.47,1.11);
    -o-transition: all 200ms cubic-bezier(.21,.67,.47,1.11);
}

.btn-hover:hover.btn-hover::before{
    background: #212529;
    color: aliceblue;
    top: 0;
}
